.meter-chats {
	height: 72%;
}

.meter-chats .chats {
	/* margin: 0.5rem 0 0; */
	gap: 0.5rem;
	overflow-y: scroll;
	display: grid;
	background-color: azure;
	height: 119.4%;
	align-content: start;
	outline: 0.01rem solid;
}
