

/* .form-close-btn .btn-close-form { */
.btn-close-form {
  width: 2rem;
  height: 2.6rem;

  background-color: var(--fb-cl-grey2);
  color: var(--fb-cl-grey1);
  border: 0.1rem solid rosybrown;
  border-radius: 0.5rem;
  font-size: var(--fb-fs-1p5);
  margin: 0.2rem;
}