.map-ireps-map {
	width: 100%;
	height: calc(100% - 3rem);
	border: 0.1rem solid lightgray;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
	.map-ireps-map {
		border: 0.1rem solid rgb(58, 67, 141);
	}
}

@media (max-width: 475px) {
	.map-ireps-map {
		height: calc(100% - 5rem);
		border: 0.1rem solid rgb(248, 4, 4);
	}
}
