.map-ireps-map {
	width: 100%;
	height: 100%;
	border: 0.3rem dashed rgb(0, 255, 47);
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
	.map-ireps-map {
		border: 0.3rem dashed rgb(0, 30, 255);
	}
}

@media (max-width: 475px) {
	.map-ireps-map {
		/* height: calc(100% - 10rem); */
		border: 0.2em dashed rgb(248, 4, 4);
	}
}
