.map-user-location-on-map .custom-marker {
  background-color: chartreuse;
  border-radius: 50%;
  width: 2rem;
  height: 3rem;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 475px) {}