.form-error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(233 167 167);
}

.form-field-error,
.form-error {
  color: rgb(255, 0, 0);
  font-size: 0.7rem;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 475px) {}