.iw-meter-report {
	width: 100%;
	height: 100%;
}
.iw-meter-report .tab-btns {
	display: flex;
	height: 2rem;
}
.iw-meter-report .map-wrapper {
	height: calc(100% - 2rem);
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 475px) {
}
