.window-close-btn {
}

.window-close-btn button.close-btn {
  width: 2rem;
  height: 2.6rem;

  background-color: var(--fb-cl-grey2);
  color: rgb(0, 255, 26);
  border: 0.1rem solid rosybrown;
  border-radius: var(--fb-br2-0p2);
  font-size: var(--fb-fs-1p5);
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 475px) {}