.form-control .label .scan-field {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.form-control .label .scan-field .scan-label {
}

.form-control .label .scan-field .scan-btn {
  border: none;
  background: #ffc074;
  border-radius: 0.1rem;
  height: 1rem;
  font-size: 0.6rem;
  font-weight: 600;
}
