.page-body {
  margin: 0.5rem;
  height: calc(93vh - 3.4rem);
  display: grid;
  grid-template-columns: minmax(10rem, 22rem) auto;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 475px) {}