.media-mobile-wrapper {
	/* border: 1rem solid red; */
}

.showMediaMobile {
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hideMediaMobile {
	opacity: 0;
	position: absolute;
	top: 0;
	left: -100rem;
}
