
.media-mobile-filter {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background: aquamarine;
}

.media-mobile-filter .icon {
  display: flex;
  align-items: center;
}

.media-mobile-filter .label {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 475px) {}