.media-mb-media {
  width: 100%;
}

.media-mb-media .media {
  text-align: center;
}


.media-mb-media .media .displayMedia {
  width: 70%;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 475px) {}