

.media-action {
  width: 29.9rem;
  height: 92dvh;
  position: absolute;
  top: 3rem;
  left: 0;
  background-color: beige;
  z-index: 100;
}

.media-action.hideMediaAction {
  opacity: 0;
  left: -100rem;
}

.media-action.showMediaAction {
  opacity: 1;
  left: 0;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 475px) {
  .media-action {
    width: auto;
  }
}