.media-mobile-body {
  /* background-color: aliceblue; */
  position: relative;
  height: 22rem;
  width: 100%;
}

.media-mobile-body .mmb-main {
  width: 100%;
}

.media-mobile-body .mmb-btns {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 475px) {}