.filter-created-at-datetime {
	display: flex;
}

.filter-created-at-datetime .react-datepicker-wrapper {
	width: 100%;
}

.filter-created-at-datetime .react-datepicker-wrapper input {
	width: 100%;
	padding: 0.3rem;
	border: none;
}

.filter-created-at-datetime .react-datepicker__close-icon::after {
border-radius: 0;
}
