.filter-btn {
  height: 2rem;
  padding: 0;
  font-size: 0.8rem;
}

.filter-btn button.flt-btn {
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-size: 0.8rem;
}

.filter-btn button.flt-btn:hover {
  cursor: pointer;
}