* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100dvh;
	/* width: 100vw; */
}

#root {
	/* height: inherit; */
	/* width: inherit; */
}

.App {
	height: inherit;
}

.show {
	visibility: visible;
	opacity: 1;
	position: static;
}

.hide {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	left: -100rem;
}

/* vertical center horizontal space between */
.vc-hsb {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* vertical center horizontal center */
.vc-hc {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* text emphasis */
.text-emphasis1 {
	font-weight: 800;
}

.text-emphasis2 {
	font-weight: 700;
	color: rgb(42, 94, 248);
}

.text-emphasis3 {
	font-weight: 700;
	color: rgb(42, 94, 248);
	font-style: italic;
}
