.service-provider {
position: relative}

.service-provider .form-body .tabs .tabs-header .tabs-btn {
  height: 2rem;
  /* border-radius: 0.4rem; */
}

.service-provider .form-body .tabs .active {
  background-color: beige
}

.service-provider .form-body {
  margin: 0.5rem 0;
}

.service-provider .form-body .tabs .tabs-header {
  margin: 0.5rem 0 0 0;
  border: 0.01rem solid rgb(206, 186, 186);
  /* border-radius: 0.4rem; */
  padding: 0.1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
}

.service-provider .form-body .tabs .tabs-header .tabs-header-left,
.service-provider .form-body .tabs .tabs-header .tabs-header-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
}

.service-provider .form-body .tabs .tabs-body {
  margin: 0;
  max-height: 35rem;
  min-height: 25rem;
  overflow-y: auto;
}

.service-provider .form-body .tabs .tabs-body .body-display {
  background-color: beige;
}

.service-provider .form-body .tabs .tabs-body .main.body-display {
  margin: 1.1rem 0 0;
}

.service-provider .form-body .tabs .tabs-body .body-display .body-display-header {
  margin: 0.1rem 0 1.1rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.service-provider .form-body .tabs .tabs-body .row-wrapper {
  position: relative;
  /* height: 4.5rem; */
}

.service-provider .form-body .tabs .tabs-body .row-add-btn,
.service-provider .form-body .tabs .tabs-body .row-remove-btn {
  width: 100%;
  height: 2rem;
  border-radius: 0.4rem;
  background-color: rgb(200, 203, 163);
}

.service-provider .form-body .tabs .tabs-body .row-remove-btn {
  height: 3rem;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 475px) {}